body {
    background-color: lightcoral;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  .picture{
    width:500px; height:600px;
  }
  .picture2{
    width:600px; height:500px;
  }
  h1 {
    color: white;
  }

  ul {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }